div.logo {
	background-color: #B0171F;
	color: #ffffff;
	text-align: center;
	font-size: 10em;
}


div.underlogo{
	width:550px;
	margin:0 auto;
	font-size:4em;
}

div.body{
	margin-top:-160px;	
}

p.error{
	color:red;		
    text-transform:uppercase;
    font-size:140%;
}

ol.nav{	
	padding: 0;
	margin: 0;
	text-align: right;
}


#enter{
	background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
}

caption {
	display: table-caption;
	text-align: center;
}